# Project place file
/Murim Ascent [REBUILD].rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

# Wally packages (restored via `wally install`)
/Packages
/ServerPackages
/DevPackages
